<!-- new entry -->
<form ng-show="firebaseUser" ng-submit="submitEntry()">
  <div class="form-group">
    <label for="pLang">lang</label>
    <select ng-options="key as value for (key, value) in options"
      ng-model="lang" class="form-control" required>
    </select>
  </div>
  <div class="form-group">
    <label for="pID">id</label>
    <input ng-model="id" id="pID" maxlength="1024" placeholder="Enter element ID" autofocus required>
  </div>
  <div class="form-group">
    <label for="pInnerHTML">innerHTML</label>
    <textarea ng-model="innerHTML" id="pInnerHTML" rows="5" maxlength="16384"
      placeholder="Enter innerHTML" required></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
<div id="pSubmissionStatus"></div>
