/*
 * plmi.css
 * Stylesheet for Polyglot Localization Management Interface
 */

div#pTitle {
    background-color: inherit;
    color: #0D47A1;
    font-family: "Bungee Inline", cursive;
    font-weight: 400;
    font-size: 54pt;
    text-align: center;
}

div#pAuthBar {
    width: 100%;
    height: 50px;
    background-color: #E65100;
    color: white;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 10pt;
    text-align: right;
}

span#pLoggedInMsg {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 10pt;
    text-align: right;
}

button.pAuthButton {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 10pt;
    text-decoration: none;
    text-align: right;
    background-color: inherit;
    color: #FFF3E0;
}

button.pAuthButton:hover {
    text-decoration: none;
    background-color: inherit;
    color: #FFF3E0;
}

button.pAuthButton:focus {
    text-decoration: none;
    background-color: inherit;
    color: #FFF3E0;
}

textarea {
    width: 100%;
}

