<!-- new entry -->
<form ng-show="firebaseUser" ng-submit="saveEntry()" class="form-horizontal">
  <div class="form-group">
    <label for="pLang" class="col-xs-12 col-sm-12 col-md-2 col-lg-2
      control-label">Select or enter language</label>
    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
      <input ng-model="lang" class="pDatalist" id="pLang" list="pLangs"
        ng-change="showInnerHTML()" required>
      <datalist id="pLangs">
        <option ng-repeat="key in langOptions"
          value="{{key}}"></option>
      </datalist>
    </div>
  </div>
  <div class="form-group">
    <label for="pID" class="col-xs-12 col-sm-12 col-md-2 col-lg-2
      control-label">Select or enter ID</label>
    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
      <input ng-model="id" class="pDatalist" id="pID" list="pIDs"
        ng-change="showInnerHTML()" required>
      <datalist id="pIDs">
        <option ng-repeat="key in idOptions"
          value="{{key}}"></option>
      </datalist>
    </div>
  </div>
  <div class="form-group">
    <label for="pInnerHTML" class="col-xs-12 col-sm-12 col-md-2 col-lg-2 control-label">Enter innerHTML</label>
    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
      <textarea ng-model="innerHTML" id="pInnerHTML" rows="5" maxlength="16384"
        placeholder="Enter innerHTML" required></textarea>
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-offset-2 col-md-10 col-lg-offset-2 col-lg-10">
      <button type="submit" class="btn btn-primary">Save</button>
    </div>
  </div>
</form>
<div id="pSaveStatus"></div>
